# Include the license file
include LICENSE
include tox.ini
include README.rst
include requirements.txt
include requirements-dev.txt
recursive-include tests *.py
recursive-include docs\source *
include docs\make.bat
include docs\Makefile
recursive-include ui *
recursive-include hsw *.py