# Include the license file
include LICENSE tox.ini README.rst requirements.txt requirements-dev.txt

recursive-include tests *.py
recursive-include docs *
recursive-include ui *
recursive-include hsw *.py
recursive-exclude tests __pycache__
recursive-exclude hsw __pycache__